*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: #B00CD9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 313px;
  height: 600px;

}
#conteudo{
  width: 313px;
  height: 600px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.60);
  border-radius: 33px;
  position: absolute;

  font-family: 'Microsoft New Tai Lue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding: 10px;
}

img {
  margin: 0 auto;
  display: block;
  height:  auto;
}

a {
  text-decoration: none;
}

.container {
    width: 313px;
    max-width: 600px;
    margin: 0 auto;
}

/* Header */

.prof-pic {
  border-radius:  50%;
  width: 90px;
}

.user-name {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-name a {
   color: #bbb;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Karla', Helvetica, sans-serif;
}

.user-name a:hover {
  color: #000;
}

/* Links */

.link {
    display: block;
    background-color: #3d3b3c;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-family: 'Karla', Helvetica, sans-serif;
    font-weight: 600;
    padding: 13px 0 13px 0;
    margin: 12px 0 11px 0;
    border: 2px solid #3d3b3c;
    border-radius: 69px;
}

.link:hover {
    color: #3d3b3c;
    background-color: #fff;
    letter-spacing: 1.5px;
  }
 .link{transition: 0.4s;}

/* Footer */

footer img {
  width: 150px;
    padding-top: 40px;
}

ol, ul {
  list-style: none;
  padding: 0;
}
